<div class="container">
	<!-- Basic grid HTML -->
  	<div class="row">
      	<!-- Navigaton content -->
    	<div class="span4" id='navigation'>
			<h4>¿Qué estás viendo?</h4>			
			<!-- ==================================================================== -->
			<!-- Map views -->
			<!-- ==================================================================== -->
			<div id='map_views'>
				<ul class="unstyled" id="map_data_views">
					<li> 
						<label class="checkbox" style="color:#b94a48;">
							<input type="checkbox" 
								id="hospitales_map" 
								name="hospitales_map" 
								value="X" checked>
							<strong>Hospitales</strong>
						</label>
					</li>
  					<li> 
            			<label class="checkbox" style="color:#32cd32;">
            				<input type="checkbox" 
            					id="cesacs_map" 
            					name="cesacs_map" 
            					value="" checked>
            				<strong>Centros de atención primaria</strong>
						</label>
					</li>
  					<li> 
						<label class="checkbox" style="color:#3a87ad;">
            				<input type="checkbox" 
            					id="barrios_map" 
            					name="barrios_map" 
            					value="" checked>
            				<strong>Barrios</strong>
						</label>
					</li>
				</ul>
			</div>			
			<!-- ==================================================================== -->
			<!-- Table views -->
			<!-- ==================================================================== -->
			<div id='table_views' style="display:none;">
				<ul class="unstyled" id="table_data_views">
					<li> 
						<label class="radio">
            				<input type="radio" 
            					id="hospitales_table_select" 
            					name="options_table_select" 
            					value="hospitales_table" 
            					checked onClick="showTable('hospitales_table')">
            				<strong>Hospitales</strong>
						</label> 
					</li>
  					<li>
						<label class="radio">
            				<input type="radio" 
            					id="cesacs_table_select" 
            					name="options_table_select" 
            					value="cesacs_table" onClick="showTable('cesacs_table')">
            				<strong>Centros de atención primaria</strong>
						</label>
					</li>
  					<li> 
						<label class="radio">
            				<input type="radio" 
            					id="barrios_table_select" 
            					name="options_table_select" 
            					value="barrios_table" onClick="showTable('barrios_table')">
            				<strong>Barrios</strong>
						</label>
					</li>
				</ul>			
			</div>
			<!-- ==================================================================== -->
			<!-- Form views -->
			<!-- ==================================================================== -->
			<div id='form_views' style="display:none;">
				<ul class="unstyled" id="form_data_views">
					<li> 
						<label>		
							<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Los testimonios</strong>
						</label>
					</li>
				</ul>
			</div>
			<!-- ==================================================================== -->
			<!-- Request views -->
			<!-- ==================================================================== -->
			<!-- Request data views -->
			<div id='request_views' style="display:none;">
				<ul class="unstyled" id="request_data_views">
					<li> 
						<label>		
							<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Respuestas</strong>
						</label>
					</li>
				</ul>
			</div>

			<hr class="hr85"


         </li> <!-- ?????????????? -->
	   
			<!-- ==================================================================== -->
			<!-- Map and table switch -->
			<!-- ==================================================================== -->
			<div class='view_selector'>
    		<h4>¿Cómo lo estás viendo?</h4>
			<span>&nbsp;&nbsp;&nbsp;</span>
    		<span><i class="icon-globe"></i>&nbsp;<a href='#view=map'><strong>Mapa</strong></a></span>
			<span>&nbsp;</span>
    		<span><i class="icon-th-list"></i>&nbsp;<a href='#view=table'><strong>Tablas</strong></a></span>

			<hr class="hr85">

			<!-- ==================================================================== -->
			<!-- Edit form data -->
			<!-- ==================================================================== -->
    		<!-- Rellenar formularios -->
    		<h4>Completar testimonio.....</h4>
			<ul class="unstyled">
    			<!-- Embarazo y controles prenatales -->
  				<li>
  					<i class=" icon-edit"></i>
  					<a href='#view=form_embarazo'>Embarazo y controles prenatales</a>
  				</li>
				<!-- Internación durante el embarazo -->
  				<li>
  					<i class=" icon-edit"></i>
  					<a href='#view=form_internacion_durante'>Internación durante el embarazo</a>
  				</li>
				<!-- Parto -->
  				<li>
  					<i class=" icon-edit"></i>
  					<a href='#view=form_parto'>Parto</a>
  				</li>
				<!-- Internación después del parto o durante el puerperio -->
  				<li>
  					<i class=" icon-edit"></i>
  					<a href='#view=form_internacion_despues'>Internación después del parto o durante el puerperio</a>
  				</li>
				<!-- Menores de 20 años, sin embarazo aún -->
  				<li>
  					<i class=" icon-edit"></i>
  					<a href='#view=form_menores'>Menores de 20 años, sin embarazo aún</a>
  				</li>
			</ul>
			<!-- ==================================================================== -->
			<!-- View form data -->
			<!-- ==================================================================== -->
    		<!-- Leer las respuestas de los formularios -->
			<h4>Leer <%= number_with_delimeter(@total_testimonios.to_i) %> testimonios</h4>
			<ul class="unstyled">
    			<!-- Embarazo y controles prenatales -->
  				<li>
  					<i class=" icon-eye-open"></i>
					<%= number_with_delimeter(@total_embarazo.to_i) %>&nbsp;
					Embarazo y controles prenatales
  				</li>
					<!-- Internación durante el embarazo -->
  				<li>
  					<i class=" icon-eye-open"></i>
					<%= number_with_delimeter(@total_internacion_durante.to_i) %>&nbsp;
					Internación durante el embarazo
  				</li>
				<!-- Parto -->
  				<li>
  					<i class=" icon-eye-open"></i>
					<%= number_with_delimeter(@total_parto.to_i) %>&nbsp;
					Parto
  				</li>
				<!-- Internación después del parto o durante el puerperio -->
  				<li>
  					<i class=" icon-eye-open"></i>
					<%= number_with_delimeter(@total_internacion_despues.to_i) %>&nbsp;
					Internación después del parto o durante el puerperio
  				</li>
				<!-- Menores de 20 años, sin embarazo aún -->
  				<li>
  					<i class=" icon-eye-open"></i>
					<%= number_with_delimeter(@total_menores.to_i) %>&nbsp;
<!-- 				<a href="#view=request_menores"> -->
					Menores de 20 años, sin embarazo aún</a>
  				</li>
			</ul>
   		</div>
		
				
    	<!-- Rellenar formularios -->
<!-- 
		<h4>Leer testimonios</h4>
		<ul class="unstyled">
    		<!~~ Embarazo y controles prenatales ~~>
  			<li>
  				<i class=" icon-eye-open"></i>
				<a href="https://docs.google.com/forms/d/1Zv6BEPLkPnZsuBDUcKLE1GNzPZZu9PxRWT8uhk05biI/viewform" target="_blank">
    			Embarazo y controles prenatales
    			</a>
  			</li>
			<!~~ Internación durante el embarazo ~~>
  			<li>
  				<i class=" icon-eye-open"></i>
				<a href="https://docs.google.com/forms/d/1ZVMo1vgdWb5gwNj5wWIcMxFBoBDdc4PBsU3880sdj_Y/viewform" target="_blank">
    			Internación durante el embarazo
    			</a>
  			</li>
			<!~~ Parto ~~>
  			<li>
  				<i class=" icon-eye-open"></i>
				<a href="https://docs.google.com/forms/d/1PVa4NYs7_Hpmtd73g0ID2GKL7NCJyUk32iEFHMMIqF8/viewform" target="_blank">
    			Parto
    			</a>
  			</li>
			<!~~ Internación después del parto o durante el puerperio ~~>
  			<li>
  				<i class=" icon-eye-open"></i>
				<a href="https://docs.google.com/forms/d/1U5VqckUZSsHTS4yO_cREOCJ-smmSz6EAYMKIg5y-G1E/viewform" target="_blank">
    			Internación después del parto o durante el puerperio
    			</a>
  			</li>
			<!~~ Menores de 20 años, sin embarazo aún ~~>
  			<li>
  				<i class=" icon-eye-open"></i>
				<a href="https://docs.google.com/forms/d/1r2XT3QOReibh5qpwAYmBQegndpzTfr3Huw6twDcWoIU/viewform" target="_blank">
    			Menores de 20 años, sin embarazo aún
    			</a>
  			</li>
		</ul>
 -->
<!-- </div> -->


		</div> <!-- end Navigation content -->
      	
      	<!-- Body content -->
		<!-- ==================================================================== -->
		<!-- Map -->
		<!-- ==================================================================== -->
    	<div class="span8" id="map"></div>
		<!-- ==================================================================== -->
		<!-- Tables -->
		<!-- ==================================================================== -->
    	<div class="span8" id="table_hospitales">
     		<table class="dataTable" id='hospitales_table'></table>
  		</div>

    	<div class="span8" id="table_cesacs">
     		<table class="dataTable" id='cesacs_table'></table>
  		</div>

    	<div class="span8" id="table_barrios">
     		<table class="dataTable" id='barrios_table'></table>     		
  		</div>
		<!-- ==================================================================== -->
		<!-- Forms -->
		<!-- ==================================================================== -->
  		<div class="span8" id="form_embarazo">
			<iframe 
				width='630px'
				height='700px'
				frameborder='0'
				src="https://docs.google.com/forms/d/1Zv6BEPLkPnZsuBDUcKLE1GNzPZZu9PxRWT8uhk05biI/viewform?embedded=true">
				Cargando...
			</iframe>
  		</div>

  		<div class="span8" id="form_internacion_durante">
			<iframe 
				width='630px'
				height='700px'
				frameborder='0'
				src="https://docs.google.com/forms/d/1ZVMo1vgdWb5gwNj5wWIcMxFBoBDdc4PBsU3880sdj_Y/viewform?embedded=true">
				Cargando...
			</iframe>
  		</div>

  		<div class="span8" id="form_parto">
			<iframe 
				width='630px'
				height='700px'
				frameborder='0'
				src="https://docs.google.com/forms/d/1PVa4NYs7_Hpmtd73g0ID2GKL7NCJyUk32iEFHMMIqF8/viewform?embedded=true">
				Cargando...
			</iframe>
  		</div>

  		<div class="span8" id="form_internacion_despues">
			<iframe 
				width='630px'
				height='700px'
				frameborder='0'
				src="https://docs.google.com/forms/d/1U5VqckUZSsHTS4yO_cREOCJ-smmSz6EAYMKIg5y-G1E/viewform?embedded=true">
				Cargando...
			</iframe>
  		</div>

  		<div class="span8" id="form_menores">
			<iframe 
				width='630px'
				height='700px'
				frameborder='0'
				src="https://docs.google.com/forms/d/1r2XT3QOReibh5qpwAYmBQegndpzTfr3Huw6twDcWoIU/viewform?embedded=true">
				Cargando...
			</iframe>
  		</div>
		<!-- ==================================================================== -->
		<!-- Requests -->
		<!-- ==================================================================== -->
    	<div class="span8" id="request_menores">
    		<h4>Menores de 20 años, sin embarazo aún</h4>
        	<div class="accordion" id="accordion2">
            	<div class="accordion-group">
                	<div class="accordion-heading">
                    	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                      		<%= @resp_menores[28] %>
                    	</a>
                  	</div>
                	<div id="collapseOne" class="accordion-body collapse in">
                    	<div class="accordion-inner">
							<% @resp_menores.each do |elem| %>
								<%= elem %><br />
							<% end %>
                    	</div>
                  	</div>
            	</div>
			</div>
<!-- 
			<%# @resp_menores.each do |elem| %>
				<li><%#= elem %></li>
			<%# end %>
 -->
 		</div>

	</div> <!-- end class="row" -->
</div> <!-- end class="container" -->

<script>
	window.onload = function() { initializeMap(); };
</script>